<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <main class="main">
      <form class="form" method="post" action="/register">
        <h1 class="heading">Register Now</h1>
        <input class="input" name="name" type="text" placeholder="Name" />
        <input class="input" name="email" type="email" placeholder="Email" />
        <input
          class="input"
          name="password"
          type="password"
          placeholder="Password"
        />
        <button class="button" type="submit">Sign Up</button>
      </form>
    </main>
  </body>
</html>
